/* Global Styles */
.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.background-3d {
    background: #333;
    background-size: cover;
    filter: brightness(90%);
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; /* Ensures space between items */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1; /* Ensures the nav-list spans the full width */
}

.nav-item {
    margin-right: 20px;
}

.nav-right {
    margin-left: auto; /* Push this item to the far end */
}

.nav-link {
    text-decoration: none;
    color: #d0d0d0;
    font-weight: bold;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #434242;
    }

/* Global Styles */
.main-content {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #4d4b4b;
    color: #fff;
    display: block;
    width: auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

    .btn:hover {
        filter: brightness(70%);
    }

.result {
    margin-top: 15px;
    font-weight: bold;
}

/* Guessing Game Page Styles */
.guessing-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Currency Converter Page Styles */
.currency-converter-section {
    max-width: 100%;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f558;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group {
    width: 80%;
    margin-bottom: 20px;
}
.input-label {
    font-size: 35px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.grouping {
    width: 48%; 
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}

.result {
    width: 80%; 
    margin-top: 20px; 
}

.exchange-rates-popup {
    width: 90%; 
    max-height: 250vh;
    overflow-y: auto; 
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Home Page Styles */
.home-section {
    max-width: 100%;
    height: 90vh; 
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.home-description {
    font-size: 18px;
    margin-bottom: 40px;
    color: #666;
}

.home-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature-card {
    text-decoration: none;
    color: inherit;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 1s ease, box-shadow 0.5s ease;
}

    /* Feature Card Hover Effect */
    .feature-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .feature-card h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    .feature-card p {
        font-size: 16px;
        color: #666;
    }

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .input-label {
        font-size: 25px;
    }

    .cards {
        flex-direction: column;
    }

    .grouping {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .currency-converter-section {
        padding: 10px;
    }

    .input-group {
        width: 100%;
    }

    .result, .exchange-rates-popup {
        width: 100%;
    }
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-right {
        margin-left: 0; /* Reset margin for mobile view */
    }
}

/* Ensure exchange rates popup does not push h1 into navbar */
h1 {
    margin-top: 20px;
}
